SECRET_KEY=123123123123123
DATABASE_PASSWORD=postgres
DATABASE_USER=postgres
DATABASE_NAME=net640
DATABASE_HOST=db
REDIS_HOST=redis
REDIS_PORT=6379
EMAIL_HOST_PASSWORD=123123123
EMAIL_HOST_USER=user
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ru-central1
SQS_SYNC_ASYNC_EXCHANGE_QUEUE_URL=https://message-queue.api.cloud.yandex.net/b1gha90dk5gntngrmird/dj6000000001biff0516/net640-sync-async-exchange
MAX_NUMBER_OF_MESSAGES=10
VISIBILITY_TIMEOUT=10
WAIT_TIME_SECONDS=10
