{% extends "base.html" %}

{% block title %}User:  {{user.username}}{% endblock %}
{% load static %}
{% block css_rules %}
<link rel='stylesheet' href='{% static 'chat/css/chat.css' %}' />
<link rel='stylesheet' href="{% static 'vendor/css/fontawesome/all.css' %}" />
{% endblock %}

{% block content %}
<!-- default values -->
<div id="default_values" class="d-none"
     data-room_name="{{room_name}}"
     data-master_name="{{user.username}}"
     data-action-url="{% url 'user_message_action' %}"
     >
</div>
<!-- end of default values -->


<div class="container">

  <div class="row mt-2">
    <div class="col-12 mx-auto">You are talking with: <b>{{user_to_chat}}</b></div>
  </div>


  <div class="row chat_window" id="chat_window"> 
    <div class="col-12 col-md-8 mx-auto">
      <table class="table" id="chat_table">
        <tbody id="chat_table_body">
          {% for message in messages %}
            <tr class="chat__table_message">
              <td class="chat__table_message_time">{{ message.formatted_timestamp }}</td>
              {% ifequal user.id message.author.id %}
                <td class="chat__table_message_content chat__table_message_written_by_owner" > {{ message.content }} </td>
                <td><i class="far fa-trash-alt" data-action='remove' data-action-url="{% url 'user_message_action' %}" data-message-id="{{ message.id }}"></i></td>
              {% else %}
                <td class="chat__table_message_content" >{{ message.content }}</td>
              {% endifequal %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-12 mx-auto">
      <form class="mx-auto" method="post" id="send_message_form">
        {% csrf_token %}
        <textarea name="content" class="w-75" id="send_message_form_text"></textarea>
        <div class="btn btn-secondary w-75" id="send_message_btn">Send Message</div>
      </form>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "js/basic_func.js" %}'></script>
<script type="text/javascript" src='{% static "chat/js/chat.js" %}'></script>
{% endblock %}
