{% extends "base.html" %}

{% block title %}My images{% endblock %}
{% block css_rules %}
{% load static %}
<link rel='stylesheet' href='{% static 'css/my_images.css' %}' />
{% endblock %}

{% block content %}
<div class="my_images_upload_image">
  <form class="my_images_upload_image__form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- <input type="file" name="myfile"> -->
    <!-- {{ form }} -->
    <!-- <label for="id_description">Description:</label> -->
    <input type="text" name="description" id="id_description" maxlength="255" placeholder="Description">
    <label for="id_image" class="simple_button">Select image</label>
    <input type="file" name="image" required="" id="id_image">
    <div id="filename"></div>
    <!-- <input type="text" id="filename" class="filename" disabled> -->
    <div class="my_images_upload_image__button">
      Upload
    </div>
    <!-- <button type="submit">Upload</button> -->
  </form>
</div>

<div class="my_images__list">
  {% if images|length > 0 %}
    {% for image in images %}
      <!-- <div class="my_images_list__item"> -->
        <img src="/{{image.url}}" alt="{{image.description}}" class="my_images_list__item" >
      <!-- </div> -->
    {% endfor %}
  {% else %}
  {% endif %}

</div>

{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src='{% static 'js/my_images.js' %}'></script>
{% endblock %}
