<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel='stylesheet' href='{% static 'vendor/css/bootstrap/bootstrap.min.css' %}' />
    <title>Reset password</title>
  </head>
  <body class="body">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 col-md-6 mx-auto">
            <p>We've emailed you instructions for setting your password if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            <!-- code for displaying success or error message in template -->
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
      </div>
    </div>

  </body>

</html>
