<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel='stylesheet' href='{% static 'vendor/css/bootstrap/bootstrap.min.css' %}' />
    <title>Confirm password</title>
  </head>
  <body class="body">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 col-md-6 mx-auto">

            {% if validlink %}
              <form method = 'post' enctype="multipart/form-data">
                {% csrf_token %}
                  <fieldset class="form-group">
                    {{form}}
                  </fieldset>
                  <div id="pre_submit"></div>
                  <div class = "btn btn-secondary w-100" id="submit_button">Confirm password</div>
              </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
            {% endif %}

        </div>
      </div>
    </div>

  </body>

<script type="text/javascript" src='{% static "user_profile/js/zxcvbn.js" %}'></script>
<script type="text/javascript" src='{% static "user_profile/js/check_password.js" %}'></script>
</html>
