<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel='stylesheet' href='{% static 'vendor/css/bootstrap/bootstrap.min.css' %}' />
    <title>Confirmation</title>
  </head>
  <body class="body">
    <div class="container">
      {% if confirmed %}
        <div class="row mt-3">
          <div class="col-12 col-md-8 text-center mx-auto">
            <p>Your profile is confirmed!</p>
          </div>
        </div>

        <div class="row mt-3 no_link_behaviour">
          <div class="col-12 col-md-8 mx-auto text-center">
            <a href="{% url 'login' %}" class="btn btn-secondary w-25">Login</a>
          </div>
        </div>
      {% else %}
        <div class="row mt-5 col-12 col-md-8 mx-auto">
          <p>There are errors during confirming your profile: {{reason}}</p>
        </div>
      {% endif %}
    </div>

  </body>

</html>
