<div id="modal_add_comment" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Write a comment</h5>
        <button type="button" class="close" v-on:click="close_modal_add_comment">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ comment_form }}
          <input type="submit" class="btn btn-secondary w-100" v-on:click="add_comment" value="Add comment"> 
        </form>
      </div>
    </div>
  </div>
</div>
