{% extends "base.html" %}

{% block title %}My page{% endblock %}
{% load static %}
{% block css_rules %}
<link rel='stylesheet' href="{% static 'vendor/css/fontawesome/all.css' %}" />
{% endblock %}

{% block content %}
{% if user %}
<div class="container">
  <div class="row mt-2 no_link_behaviour">
    <a class="col-8 col-md-2 mr-2 menu__item" href="/my_images/">My images</a>
    <a class="col-8 col-md-2 mr-2 menu__item" href="/profile">My profile</a>
    <a class="col-8 col-md-2 offset-md-5 menu__item" id="copy_link" data-user-id={{user.id}}>Copy link to my profile</a>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-8 mx-auto">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form }}

        <div class="row mt-2 mb-2">
          <img src="" id="preview_image" data-id-input-image="id_image" class="w-50 mx-auto d-none"/>
        </div>
        <input type="submit" class ="btn btn-secondary w-100" value="Send Post"> 
      </form>
    </div>
  </div>
</div>

<div id="vue_mainpage_app" class="">
  <!-- default values -->
  <div id="default_values" class="d-none"
       data-action-url="{% url 'user_post_action' %}"
       >
  </div>
  <!-- end of default values -->
  {% include 'user_posts.html' %}
</div>

{% endif %}
{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src='{% static "js/basic_func.js" %}'></script>
<script type="text/javascript" src='{% static 'user_posts/js/mainpage.js' %}'></script>
<script type="text/javascript" src='{% static 'js/preview_image.js' %}'></script>
{% endblock %}
