{% extends "base.html" %}

{% block title %}News{% endblock %}
{% load static %}
{% block css_rules %}
<link rel='stylesheet' href="{% static 'vendor/css/fontawesome/all.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-2 no_link_behaviour">
    <a class="col-8 col-md-2 mr-2 menu__item" href="/my_images/">My images</a>
    <a class="col-8 col-md-2 menu__item" href="/profile">My profile</a>
  </div>
</div>

<div id="vue_user_news_app" class="">

  <!-- default values -->
  <div id="default_values" class="d-none"
       data-action-url="{% url 'user_post_action' %}"
       >
  </div>
  <!-- end of default values -->
  {% include 'user_posts.html' %}

</div>

<form method="post" class="d-none">
    {% csrf_token %}
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "vendor/js/vue.js" %}'></script>
<script type="text/javascript" src='{% static "js/basic_func.js" %}'></script>
<script type="text/javascript" src='{% static 'user_posts/js/news.js' %}'></script>


{% endblock %}
