/*large size*/
.chat_window {
    height: 70vh;
    overflow-y: scroll;
}

.chat__table_message {
  width: 100%;
  table-layout: fixed;
}

.chat__table_message_time {
  font-size: xx-small;
  text-align: right;
}
.chat__table_message_author {
  font-size: xx-small;
  text-align: right;
}

.chat__table_message_content {
  font-size: large;
  background-color: #f2f2f2;
  width: 92%;
  word-break: break-all;
}

.chat__table_message_written_by_owner {
  background-color: white;
}

.chat__header {
  
  display: inline-block;
  padding: 10px;
  margin-left: 60px;
  margin-top: 20px;

}
