/*large size*/
.chat_window {
    height: 70vh;
    overflow-y: scroll;
}
/*.chat__table {*/
  /*display: block;*/
  /*box-sizing: border-box;*/
  /*margin: 20px auto;*/
  /*overflow-y: scroll;*/
  /*[>height: 250px;  <]*/
/*}*/


.chat__table_message {
  width: 100%;
  table-layout: fixed;
}

.chat__table_message_time {
  font-size: xx-small;
  text-align: right;
}
.chat__table_message_author {
  font-size: xx-small;
  text-align: right;
}

.chat__table_message_content {
  font-size: large;
  background-color: #f2f2f2;
  width: 92%;
}

.chat__table_message_written_by_owner {
  background-color: white;
}

.chat__header {
  
  display: inline-block;
  /* margin:0 auto; */
  padding: 10px;
  margin-left: 60px;
  margin-top: 20px;

}
