/*  FRIEND PAGE */
.friends_list {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
}

.friends_list__item {
  /* padding: 10px; */
  text-align: center;
  background: #f2f2f2;
  margin-top: 20px;
  margin-left: 60px;  
  /* border: 1px solid black;
  box-shadow: 5px 5px 5px #a6a6a6; */
}

.friends_list__link {
  text-decoration: none;
  cursor: pointer;
  color: black;
  display: inline-block;
  width: 25%;
  text-align: center;
  background: #f2f2f2;

}

/* .friends_list__item:nth-child(odd) {
  background: #f2f2f2;

}

.friends_list__item:nth-child(even) {
  background: white;
} */

.friends_list_caption {
  margin-left: 60px;
  margin-top: 20px;
}

/* .friends__accept_button {

}

.friends__decline_button {

} */

.friends__remove_button {

  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px #a6a6a6;
  display: inline-block;
  margin:0 auto;
  padding: 10px;
  margin-left: 60px;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;

}
/*  END FRIEND PAGE */
