.topmenu {
  width: 100%;
   text-align: center;
}

.topmenu a {
  color: black;
}

.topmenu__item_shape {
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px #a6a6a6;
}

.topmenu__item {
  height: 80px;
  width: 30%;
  display: inline-block;
  margin:0 auto;
  text-align: center;
  vertical-align: center;
  line-height: 80px;

}

.topmenu__item:hover {
background-color: #d9d9d9;
transition: background-color 1s;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .topmenu__item {
      height: 40px;
      width: 90%;
      display: block;
      margin: 1px auto;
      text-align: center;
      vertical-align: center;
      line-height: 40px;
    }


}
