@keyframes fadeOut {
    100% {
        /* display: none; */
        opacity: 0;
    }
    0% {
        /* display: block; */
        opacity: 1;
    }
}

.login_failed {
    margin: 20px auto 0;
    width: 300px;
    text-align: justify;
    color: orangered;
    -webkit-animation: 5s ease 0s normal forwards 1 fadeOut;
    animation: 5s ease 0s normal forwards 1 fadeOut;
}
  
.logged_caption {
    padding-top: 40px;
    margin-left: 15%;
}


.login_form {
    background: #eceeee;
    border: 1px solid #42464b;
    height: 288px;
    margin: 20px auto 0;
    width: 300px;
}


input[type="password"], input[type="text"] {
    border: 1px solid #a1a3a3;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
}

input[type="password"]:focus, input[type="text"]:focus {
    box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
    outline: 0;
}

/* input[type="submit"] {
  width: 240px;
  height: 35px;
  display:block;
  font-size:16px;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 29px;
  border: none;
  
} */

.login_base_button {
    width: 240px;
    height: 35px;
    display:block;
    font-size:16px;
    text-transform:uppercase;
    text-align:center;
    margin-left: 29px !important;
    box-sizing: border-box;
}

.register_button {
    font-size:10px;
    width: 240px;

}
