.my_images_upload_image {
  /* width: 70%; */
  display: block;
  box-sizing: border-box;
  margin: 20px auto;

}

.my_images__list {
  width: 70%;
  display: block;
  box-sizing: border-box;
  margin: 20px auto;
  text-align: center;

}

.my_images_list__item {
  max-width: 100%;

}

.my_images_upload_image__form {
  width: 70%;
  display: block;
  box-sizing: border-box;
  margin: 20px auto;
}

.my_images_upload_image__form input[type="file"] {
  display: none;
}

.my_images_upload_image__form input[type="text"] {
  width: 60%
}

.my_images_upload_image__button {
text-align: center;
vertical-align: center;
margin-top: 15px;
margin-bottom: 15px;

}

.my_images_upload_image__button {
line-height: 40px;
height: 40px;
color: #FFFFFF;
background-color: gray;
box-shadow: 2px 2px 2px #a6a6a6;
position: relative;
top: 0px;
transition: all ease 0.3s;
}

.my_images_upload_image__button:active {
box-shadow: 0 2px 0 #a6a6a6;
top: 3px;
}

