@keyframes fadeOut {
    100% {
        /* display: none; */
        opacity: 0;
    }
    0% {
        /* display: block; */
        opacity: 1;
    }
}


.signup_form {
    background: #eceeee;
    border: 1px solid #42464b;
    /* height: 280px; */
    margin: 60px auto 0;
    width: 390px;
    text-align: center;
    padding: 40px;
}


input[type="password"], input[type="text"] {
    border: 1px solid #a1a3a3;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 40px;
    margin: 15px 0 0px auto;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 290px;
}

input[type="password"]:focus, input[type="text"]:focus {
    box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
    outline: 0;
}

.signup_base_button {
    width: 290px;
    height: 40px;
    display:block;
    font-size:16px;
    text-transform:uppercase;
    text-align:center;
    margin: 40px 0 0px auto !important;
    box-sizing: border-box;
}

