{% extends "base.html" %}

{% block title %}User:  {{user.username}}{% endblock %}

{% load static %}
{% block css_rules %}
<link rel='stylesheet' href="{% static 'vendor/css/fontawesome/all.css' %}" />
{% endblock %}

{% block content %}


<div id="vue_user_view_app" class="">

  <!-- default values -->
  <div data-application-variables="default_values" class="d-none"
       data-relationship_status="{{relationship_status}}"
       data-page_owner_username="{{page_owner_username}}"
       data-page_owner_id="{{page_owner_id}}"
       data-page_owner_size="{{page_owner_size}}"
       >


  </div>
  <!-- end of default values -->

  <form action="." method="post" id="user_view__form">
      {% csrf_token %}
  </form>
  <div class="container">
    <div>
      <div class="row no_link_behaviour">
        <div class="col-12 mt-2 simple_square">
          User: [[page_owner_username]] Status: [[relationship_descr]]
              <span v-if="relationship_status == -1" class="">
                  <div class="btn btn-secondary"  v-on:click="send_request_for_friends" :data-user_id="page_owner_id">
                    Add [[page_owner_username]] to friends
                  </div>
              </span>
          Page size: [[page_owner_size]]
        </div>
        <a :href='"/id"+page_owner_id+"/chat"' v-if="friend" class="col-12 col-md-2 mt-2 simple_square text-center">Chat</a>
      </div>
    </div>

  </div>

</div>
{% include 'user_posts.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "vendor/js/vue.js" %}'></script>
<script type="text/javascript" src='{% static "friends/js/user_view.js" %}'></script>
<script type="text/javascript" src='{% static "js/basic_func.js" %}'></script>

{% endblock %}
