{% extends "base.html" %}

{% block title %}User:  {{user.username}}{% endblock %}

{% load static %}
{% block css_rules %}
<link rel='stylesheet' href="{% static 'vendor/css/fontawesome/all.css' %}" />
{% endblock %}

{% block content %}


<div id="vue_user_view_app" class="">

  <!-- default values -->
  <div id="default_values" class="d-none"
       data-relationship_status="{{relationship_status}}"
       data-page_owner_username="{{page_owner_username}}"
       data-page_owner_id="{{page_owner_id}}"
       data-page_owner_size="{{page_owner_size}}"
       data-action-url="{% url 'user_post_action' %}"
       >


  </div>
  <!-- end of default values -->

  <form action="." method="post" id="user_view__form">
      {% csrf_token %}
  </form>
  <div class="container">
    <div>
      <div class="row no_link_behaviour">
        <div class="col-12 mt-2 simple_square">
          User: [[page_owner_username]] Status: [[relationship_descr]] 
              <span v-if="relationship_status == -1" class="">
                  <div class="btn btn-secondary"  v-on:click="send_request_for_friends" :data-user_id="page_owner_id">
                    Add [[page_owner_username]] to friends
                  </div>
              </span>
          Page size: [[page_owner_size]]
        </div>
        <a :href='"/id"+page_owner_id+"/chat"' v-if="friend" class="col-12 col-md-2 mt-2 simple_square text-center">Chat</a>
      </div>
    </div>

  </div>

  <div v-if="posts.length > 0" class="container mt-5">
        <div v-for="post in posts" class="row posts_list__item w-75 mx-auto">
              <div class="col-12 col-md-8 mx-auto">
                <div class="row mt-3">
                  <div class="col-2">
                    <div class="badge badge-dark">[[post.rating]]</div>

                    <div v-if="post.user_has_like">
                      <i class="fas fa-heart d-inline" v-on:click="action_on_user_post" data-action='dislike' v-bind:data-action-url=post_action_url v-bind:data-post-id=post.id></i>
                    </div>
                    <div v-else>
                      <i class="far fa-heart" v-on:click="action_on_user_post" data-action='like' v-bind:data-action-url="post_action_url" v-bind:data-post-id="post.id"></i>
                    </div>
                  </div>

                  <div class="col-8">
                    <div class="wordwrap">
                      [[post.content]]
                    </div>
                    <div class="posts_list__item_author_and_date">
                      [[post.author]]
                      [[post.date]]
                    </div>
                  </div>

                </div>
              </div>

          </div>
        </div>
  </div>


</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "vendor/js/vue.js" %}'></script>
<script type="text/javascript" src='{% static "friends/js/user_view.js" %}'></script>
<script type="text/javascript" src='{% static "js/basic_func.js" %}'></script>

{% endblock %}
